* {
    color: #fff;
    font-family: sans-serif;
}

body {
    background-image: url("../img/Фото1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.wrapper {
    background-color: rgba(0, 0, 0, 0)!important;
    max-width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}
header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

@media (max-width: 1050px) {
    .wrapper {
        max-width: 100%;
        min-width: auto;
    }
}
