@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&display=swap&subset=cyrillic');

* {
    font-family: 'Open Sans', sans-serif;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
}
header, footer {
    color: white;
}
body {
    background-color: #9e9f8f;
    background-image: url("../img/background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
a {
    text-decoration: none;
    color: #969696;
}
.wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -5px 0 50px 0 rgba(123, 123, 123, 0.6), 5px 0 50px 0 rgba(123, 123, 123, 0.6);
    -moz-box-shadow: -5px 0 50px 0 rgba(123, 123, 123, 0.6), 5px 0 50px 0 rgba(123, 123, 123, 0.6);
    box-shadow: -5px 0 50px 0 rgba(123, 123, 123, 0.6), 5px 0 50px 0 rgba(123, 123, 123, 0.6);
    max-width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
header {
    padding: 5px;
}
header, .social-button {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
}
.logo {
    font-size: 2.3em;
    margin: 0 0 0 15px;
}

.number a {
    color: white;
}
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5px;
    color: #e9ebf9;
}
.about {
    text-align: justify-all;
    margin: 0 0 2em;
}
.social {
    font-size: 1.5em;
}
.social:hover {
    font-size: 1.7em;
}
.vk:hover {
    color: #5b88bd;
}
.telegram:hover {
    color: #2ca5e0;
}
.mailbox:hover {
    color: #ff0000;
}
.number:hover i {
    color: #1ebea5;
}
.social-button a {
    color: inherit;
}
.social-button :not(:last-child) {
    margin-right: 15px;
}
.social i {
    margin-right: 3px;
}
.comeback {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
h2.comeback {
    margin-top: 0;
}
#timer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /*align-self: center;*/
    letter-spacing: -1px;
}
.clock-segment {
    font-size: 60px;
    color: #fff;
    margin: 0 10px 0 25px;
}
.clock-segment:first-child {
    margin-left: 0;
}
.clock-title {
    margin: 5px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #fff;
}
footer {
    display: flex;
    flex-flow: column wrap;
    max-height: 3em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}
.copy {
    align-self: flex-end;
}
@media (max-width: 1050px) {
    .wrapper {
        max-width: 100%;
        min-width: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
@media (max-width: 650px) {
    header {
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 580px){
    .clock-segment {
        font-size: 46px;
    }
    .clock-title {
        font-size: 18px;
    }
    footer {
        max-height: 10em;
    }
    footer div, .copy {
        align-self: center;
    }
}
@media (max-width: 480px){
    #timer {
        flex-flow: row wrap;
    }
    .clock-title {
        margin: 3px;
    }
}
