.wrapper {
    background-color: #b3d4fc;
    min-width: 1000px;
    max-width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}
header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

@media (max-width: 1050px) {
    .wrapper {
        max-width: 100%;
        min-width: auto;
    }
}
